.nav {
  background: rgba(255,255,255,0.3);
  min-height: 90px;
}
.nav .top-bar {
  background: transparent;
}
.nav .top-bar .logo {
  margin-right: 30px;
  margin-top: 15px;
}
.nav .top-bar .title-area {
  background: transparent;
}
.nav .top-bar-section ul.right img {
  margin: 20px 15px 0 0;
}
.nav .top-bar-section ul.inline-list li {
  margin: 0;
  min-width: 75px;
}
.nav .top-bar-section ul.inline-list li a {
  border-left: 1px solid rgba(255,255,255,0.8);
  margin: 30px 0;
  padding: 0 10px !important;
  display: block;
  line-height: 30px;
}
.nav .top-bar-section ul.inline-list li:last-child a {
  border-right: 1px solid rgba(255,255,255,0.8);
}
.nav .top-bar-section ul.inline-list li:hover {
  background: #fff;
}
.nav .top-bar-section ul.inline-list li:hover+li a {
  border-left: 1px solid transparent;
}
.nav .top-bar-section ul.inline-list li:hover a {
  border-left: 1px solid transparent;
  color: #ff6000;
}
.nav .top-bar-section ul li {
  background: transparent;
  text-align: center;
  white-space: nowrap;
}
.nav .top-bar-section ul li a {
  font-size: 12px;
  text-transform: uppercase;
  background: transparent !important;
  padding: 0 !important;
  color: #333;
}
