.nav-wrap {
  background: rgba(255,255,255,0.4);
  width: 100%;
}
@media (min-width: 1024px) {
  .nav-wrap {
    position: fixed;
  }
}
.nav-wrap.scrolled {
  background: rgba(255,255,255,0.9);
  -webkit-transition: background 3s;
  transition: background 3s;
  box-shadow: 0 2px 10px #000;
  z-index: 10000;
}
.nav-wrap.scrolled .menu-icon a span:after {
  box-shadow: 0 0 0 1px #999, 0 7px 0 1px #999, 0 14px 0 1px #999;
  margin-top: 5px;
}
.top-bar {
  background: transparent;
  height: auto;
}
@media (max-width: 1023px) {
  .top-bar {
    height: 55px;
  }
}
.top-bar .logo {
  margin-right: 30px;
  margin-top: 15px;
}
@media (max-width: 1350px) {
  .top-bar .logo {
    width: 60px;
    margin-right: 15px;
    margin-top: 12px;
  }
}
@media (max-width: 1023px) {
  .top-bar .logo {
    margin-top: 5px;
  }
}
.top-bar .title-area {
  background: transparent !important;
}
.top-bar .top-bar-section ul.inline-list li {
  margin: 0;
  min-width: 75px;
}
.top-bar .top-bar-section ul.inline-list li a {
  padding: 0 10px !important;
  display: block;
  line-height: 30px;
  font-size: 12px;
  position: relative;
}
.top-bar .top-bar-section ul.inline-list li a:before {
  content: '';
  border-left: 1px solid rgba(255,255,255,0.8);
  position: absolute;
  left: 0;
  height: 30px;
}
@media (max-width: 1023px) {
  .top-bar .top-bar-section ul.inline-list li {
    float: none;
  }
}
@media (min-width: 1024px) and (max-width: 1085px) {
  .top-bar .top-bar-section ul.inline-list li {
    min-width: 0;
  }
}
@media (min-width: 1024px) {
  .top-bar .top-bar-section ul.inline-list li a {
    padding: 30px 7px !important;
  }
  .top-bar .top-bar-section ul.inline-list li:hover {
    background: #fff;
  }
  .top-bar .top-bar-section ul.inline-list li:hover a {
    color: #ff6000;
  }
  .top-bar .top-bar-section ul.inline-list li:hover+li a:before {
    border-left: 1px solid transparent;
  }
  .top-bar .top-bar-section ul.inline-list li:hover a:before {
    border-left: 1px solid transparent;
  }
}
@media (min-width: 1024px) and (max-width: 1350px) {
  .top-bar .top-bar-section ul.inline-list li a {
    font-size: 10px !important;
  }
}
@media (min-width: 1599px) {
  .top-bar .top-bar-section ul.inline-list li a {
    font-size: 13px;
  }
}
.top-bar .top-bar-section ul li {
  background: transparent;
  text-align: center;
  white-space: nowrap;
}
.top-bar .top-bar-section ul li a {
  text-transform: uppercase;
  background: transparent !important;
  padding: 0 !important;
  color: #333;
}
.top-bar .top-bar-section ul.phones {
  margin-top: 10px;
}
.top-bar .top-bar-section ul.phones img {
  margin: 15px 8px 0 0;
}
@media (max-width: 1023px) {
  .top-bar .top-bar-section ul.phones {
    margin-bottom: 15px;
  }
  .top-bar .top-bar-section ul.phones img {
    margin: 10px 0;
  }
}
@media (min-width: 1024px) and (max-width: 1350px) {
  .top-bar .top-bar-section ul.phones img {
    width: 22px;
  }
  .top-bar .top-bar-section ul.phones li>div {
    font-size: 12px;
  }
}
.card {
  border: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 10px;
}
.card .card-info {
  padding: 15px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.card .card-info .title-icon {
  width: 28px;
  height: 28px;
  display: inline-block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.card .card-info .title {
  font-size: 12px;
  padding: 0 5px;
  text-transform: uppercase;
  color: #2c2c2c;
  vertical-align: middle;
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card .card-info .prices {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: -5px;
}
.card .card-info .prices .price-old {
  color: #a5a2a2;
  font-size: 14px;
  white-space: nowrap;
  text-decoration: line-through;
}
.card .card-info .prices .price-new {
  color: #f1613a;
  white-space: nowrap;
  font-size: 14px;
}
.card img.card-image {
  width: 100%;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1299px) {
  .card.card__offers .card-info .title-icon {
    width: 20px;
    height: 20px;
  }
  .card.card__offers .card-info .title {
    font-size: 11px;
  }
  .card.card__offers .card-info .prices .price-new,
  .card.card__offers .card-info .prices .price-old {
    font-size: 12px;
  }
}
.card__mix .card-info {
  box-shadow: 0 -40px 15px rgba(0,0,0,0.5);
  position: relative;
}
.card__mix .card-info .title {
  padding: 0 0 0 5px;
}
.card__mix .card-info .prices {
  position: absolute;
  top: -30px;
  right: 15px;
}
.card__mix .card-info .prices .price-new {
  color: #fc0;
  font-size: 20px;
  text-shadow: 1px 2px 0 #000;
}
@media (min-width: 480px) and (max-width: 1299px) {
  .card__mix .card-info {
    padding: 10px;
  }
  .card__mix .card-info .title-icon {
    width: 20px;
    height: 20px;
  }
  .card__mix .card-info .title {
    font-size: 10px;
  }
  .card__mix .card-info .prices {
    top: -20px;
    right: 10px;
  }
  .card__mix .card-info .prices .price-new {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .card__mix .card-info {
    box-shadow: 0 -25px 15px rgba(0,0,0,0.5);
    padding: 5px;
  }
}
.heading-wrap {
  position: relative;
  margin: 50px 0;
}
.heading-wrap .heading-line {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 0;
  left: 0;
}
.heading-wrap .heading-line hr {
  margin: 0;
}
.heading-wrap .heading-title {
  position: relative;
  z-index: 1;
  padding: 0 20px;
  background: #fff;
  display: inline-block;
}
@media (min-width: 1024px) {
  .welcome .welcome-text {
    margin-top: 105px;
  }
}
.welcome .welcome-text p {
  font-size: 12px;
  width: 270px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 0;
}
.welcome .welcome-text span.heading-main {
  color: #fff;
  font-size: 66px;
  display: inline-block;
  line-height: 87px;
}
@media (max-width: 599px) {
  .welcome .welcome-text span.heading-main {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 60px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .welcome .welcome-text span.heading-main {
    font-size: 45px;
    line-height: 70px;
  }
}
.welcome .welcome-text span.heading-main.first-line {
  margin: 40px 0 0;
  display: inline-block;
}
.welcome .welcome-text span.heading-main.second-line {
  display: inline-block;
  text-indent: 100px;
}
.welcome .search-box {
  position: fixed;
  z-index: 1000;
  width: auto;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .welcome .search-box {
    top: 350px;
    box-shadow: 0 0 10px #999;
    -webkit-transform: translateX(-654px);
    -ms-transform: translateX(-654px);
    transform: translateX(-654px);
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
    margin-left: -66px;
  }
  .welcome .search-box.active {
    -webkit-transition: -webkit-transform 2s;
    transition: transform 2s;
    -webkit-transform: translate(66px);
    -ms-transform: translate(66px);
    transform: translate(66px);
  }
  .welcome .search-box .search-inner {
    height: 66px;
  }
  .welcome .search-box .search-inner .input-wrap {
    width: 180px;
  }
}
.welcome .search-box .search-btn {
  width: 66px;
  height: 66px;
  background: rgba(255,102,0,0.7);
  display: inline-block;
}
.welcome .search-box .search-btn img {
  margin: 14px;
}
.welcome .search-box .search-inner {
  background: rgba(255,255,255,0.7);
  float: left;
}
.welcome .search-box .search-inner .input-range-group {
  float: left;
}
.welcome .search-box .search-inner .input-range-group input[placeholder] {
  color: #2c2c2c;
}
.welcome .search-box .search-inner .input-range-group input::-webkit-input-placeholder {
  color: #2c2c2c;
}
.welcome .search-box .search-inner .input-range-group input::-moz-placeholder {
  color: #2c2c2c;
}
.welcome .search-box .search-inner .input-range-group input:-moz-placeholder {
  color: #2c2c2c;
}
.welcome .search-box .search-inner .input-range-group input:-ms-input-placeholder {
  color: #2c2c2c;
}
.welcome .search-box .search-inner .input-range-group input {
  float: left;
}
.welcome .search-box .search-inner .input-wrap {
  float: left;
  border-right: 1px solid #fff;
}
.welcome .search-box .search-inner .input-wrap input,
.welcome .search-box .search-inner .input-wrap select {
  background: transparent;
  border: none;
  color: #2c2c2c;
  margin-bottom: 0;
  font-size: 16px;
  height: 66px;
  padding: 20px;
  text-align: center;
  font-family: 'open_sansregular';
  width: 100%;
}
.welcome .search-box .search-inner .input-wrap input:active,
.welcome .search-box .search-inner .input-wrap select:active,
.welcome .search-box .search-inner .input-wrap input:focus,
.welcome .search-box .search-inner .input-wrap select:focus {
  background: #fff;
  outline: none;
  color: #ff6000;
}
@media (max-width: 767px) {
  .welcome .search-box {
    top: 295px;
    -webkit-transform: translateX(-270px);
    -ms-transform: translateX(-270px);
    transform: translateX(-270px);
    margin-left: -50px;
  }
  .welcome .search-box.active {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
  }
  .welcome .search-box.active .search-btn {
    position: absolute;
  }
  .welcome .search-box .search-btn {
    width: 50px;
    height: 50px;
  }
  .welcome .search-box .search-btn img {
    width: 25px;
  }
  .welcome .search-box .search-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 320px;
  }
  .welcome .search-box .search-inner .input-wrap {
    border-bottom: 1px solid #fff;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .welcome .search-box .search-inner .input-wrap input,
  .welcome .search-box .search-inner .input-wrap select {
    padding: 10px;
    height: 50px;
    font-size: 13px;
    text-align: left;
  }
  .welcome .search-box .search-inner .input-range-group {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .welcome .search-box .search-inner .input-range-group .input-wrap {
    border-bottom: 1px solid transparent;
    width: 50%;
  }
  .welcome .search-box .search-inner .input-range-group .input-wrap input {
    padding: 10px 15px;
  }
}
@media (max-width: 499px) {
  .welcome .search-box {
    -webkit-transform: translateX(-210px);
    -ms-transform: translateX(-210px);
    transform: translateX(-210px);
  }
  .welcome .search-box .search-inner {
    max-width: 260px;
  }
}
@media (min-width: $screen-sm-min) {
  html body,
  .flexbox body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  html body main,
  .flexbox body main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
@media (min-width: 940px) {
  html,
  .flexbox {
    overflow-x: hidden;
  }
}
body {
  margin: 0;
  color: #2c2c2c;
  font-family: 'open_sansregular';
}
.row {
  max-width: 2000px;
}
.wrap {
  padding: 0 45px;
}
@media (max-width: 1349px) {
  .wrap {
    padding: 0 20px;
  }
}
@media (max-width: 499px) {
  .wrap {
    padding: 0 25px;
  }
}
.header {
  position: relative;
  min-height: 436px;
  background: url("../img/holland-canal.jpg") no-repeat;
  background-size: cover;
}
.main {
  margin-bottom: 30px;
}
@media (max-width: 320px) {
  .main .wrap {
    padding: 0;
  }
}
.offers-spec .offer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .offers-spec .offer-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.offers-spec .offer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 30%;
  -ms-flex: 1 0 30%;
  flex: 1 0 30%;
}
@media (max-width: 767px) {
  .offers-spec .offer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .offers-spec .offer+.offer {
    margin-left: 10px;
  }
}
.footer {
  background: #dad9d9;
  color: #8a8a8a;
  padding: 25px 0;
}
.footer p {
  font-size: 14px;
  margin-top: 25px;
}
.datepicker.dropdown-menu {
  background: rgba(255,255,255,0.8);
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-controls {
  position: absolute;
  top: 45%;
  width: 100%;
}
.owl-carousel .owl-controls .owl-nav {
  position: relative;
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
  position: absolute;
  left: -35px;
  background: url("../img/arrow.png") no-repeat;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.owl-carousel .owl-controls .owl-nav .owl-next {
  position: absolute;
  right: -35px;
  background: url("../img/arrow.png") no-repeat;
  width: 25px;
  height: 25px;
}
