.card {
  border: 1px solid #ccc;
  overflow: hidden;
}
.card .card-info {
  padding: 15px;
}
.card .card-info .title-icon {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  display: inline-block;
}
.card .card-info .title {
  font-size: 14px;
  text-transform: uppercase;
  color: #2c2c2c;
}
.card .card-info .prices {
  margin-top: -5px;
}
.card .card-info .prices .price-old {
  color: #a5a2a2;
  font-size: 14px;
  white-space: nowrap;
  text-decoration: line-through;
}
.card .card-info .prices .price-new {
  color: #f1613a;
  white-space: nowrap;
  font-size: 14px;
}
.card img.card-image {
  width: 100%;
  overflow: hidden;
  height: 190px;
}
