.card__mix img.card-image {
  min-height: 400px;
}
.card__mix .card-info {
  box-shadow: 0 -40px 15px rgba(0,0,0,0.5);
  position: relative;
}
.card__mix .card-info .title {
  font-size: 12px;
}
.card__mix .card-info .prices {
  position: absolute;
  top: -30px;
  right: 15px;
}
.card__mix .card-info .prices .price-new {
  color: #fc0;
  font-size: 20px;
  text-shadow: 1px 2px 0 #000;
}
